.cse-container {
  padding: 20px;


h1 {
  text-align: center;
  color: #55ef7b;
  font-size: 4rem;
  /* font-size: 32px; */
  margin-bottom: 20px;
}
}
.semester {
  margin-bottom: 30px;
  h2{
    font-size: 3rem;
  }
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;


}

.subject-card {
  background-color: #f5f5f5;
  border-left: 4px solid #007bff; /* Blue left border */
  padding: 16px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, background-color 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Arial, sans-serif;
}

.subject-card:hover {
  background-color: #e6f7ff; /* Light blue on hover */
  transform: scale(1.05);
}

.subject-card h3 {
  color: #007bff;
  font-size: 20px;
  margin-bottom: 10px;
}

.subject-card ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  width: 100%;
}

.subject-card li {
  margin-bottom: 10px;
}

.subject-card li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.subject-card li a:hover {
  color: #007bff; /* Blue on hover */
}

.subject-card svg {
  margin-right: 8px;
  fill: #007bff;
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .subject-card {
    width: 100%;
  }
}
.page {
  position: relative;
  box-sizing: border-box;
  max-width: 300px;
  font-family: cursive;
  font-size: 20px;
  border-radius: 10px;
  background: #fff;
  background-image: linear-gradient(#f5f5f0 1.1rem, #ccc 1.2rem);
  background-size: 100% 1.2rem;
  line-height: 1.2rem;
  padding: 1.4rem 0.5rem 0.3rem 4.5rem;
}

.page::before,
.page::after {
  position: absolute;
  content: "";
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.3s ease;
}

.page::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.page::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.page:hover::before,
.page:hover::after {
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}

.margin {
  position: absolute;
  border-left: 1px solid #d88;
  height: 100%;
  left: 3.3rem;
  top: 0;
}

.page p {
  margin: 0;
  text-indent: 1rem;
  padding-bottom: 1.2rem;
  color: black;
  line-height: 20px;
}